@model ShoppingCartModel.DiscountBoxModel

@if (Model.Display)
{
    <div class="coupon-box">
        <h2 class="h5">
            <strong>
                @T("ShoppingCart.DiscountCouponCode.Tooltip")
            </strong>
        </h2>
        <div class="coupon-code">
            <div class="form-group">
                <span class="col-form-label">@T("ShoppingCart.DiscountCouponCode")</span>
                <div class="input-group">
                    <input type="text" id="discountcouponcode" name="discountcouponcode" class="form-control discount-coupon-code">
                    <label for="discountcouponcode" class="sr-only">@T("ShoppingCart.GiftCardCouponCode.Button")</label>
                    <span class="input-group-append">
                        <button type="button" name="applydiscountcouponcode" id="applydiscountcouponcode" onclick="ApplyDiscountCode(this)" class="btn btn-outline-secondary apply-discount-coupon-code-button"
                                data-href="@Url.RouteUrl("ApplyDiscountCoupon")">
                            @T("ShoppingCart.DiscountCouponCode.Button")
                        </button>
                    </span>
                </div>
            </div>
        </div>

        @if (!String.IsNullOrEmpty(Model.Message))
        {
            <div class="alert @(Model.IsApplied ? "alert-success message-success" : "alert-danger message-failure") text-center">
                @Model.Message
            </div>
        }
        @foreach (var discount in Model.AppliedDiscountsWithCodes)
        {

                <div class="alert alert-success text-center">
                        <span>@string.Format(T("ShoppingCart.DiscountCouponCode.CurrentCode").Text, discount.CouponCode)</span>
                        <b-link name="removediscount"
                                data-href="@Url.RouteUrl("RemoveDiscountCoupon", new { discountId = discount.Id})"
                                title="@T("Common.Remove")"
                                class="mx-1"
                                onclick="ApplyDiscountCode(this)">
                            <b-icon icon="trash" variant="danger"></b-icon>
                        </b-link>
                </div>
        }
    </div>
    <script asp-location="Footer">
            function ApplyDiscountCode(e) {
                var href = e.getAttribute('data-href');
                var DiscountCodeData = {
                    giftcardcouponcode: document.getElementById('discountcouponcode').value,
                };
                addAntiForgeryToken(DiscountCodeData);
                var bodyFormData = new FormData();
                bodyFormData.append('discountcouponcode', document.getElementById('discountcouponcode').value);
                bodyFormData.append('__RequestVerificationToken', document.querySelector('input[name=__RequestVerificationToken]').value);
                axios({
                    method: 'post',
                    url: href,
                    data: bodyFormData,
                    headers: { 'Content-Type': 'multipart/form-data' }
                }).then(function (response) {
                    document.querySelector('#ordersummarypagecart').innerHTML = response.data.cart;
                    new Vue({
                        el: '.checkout-buttons',
                        mixins: [mix]
                    });
                    new Vue({
                        el: '.coupon-box'
                    });
                    checkoutAttributeChange();
                })
            }
    </script>

}
