@model IList<CategoryModel>
@inject DisplayOrderHomePage order
<div class="category-grid py-3 text-center order-@order.HomePageCategories bottom-divider">
    <div class="col-12 px-0">
        <div class="row justify-content-md-center g-1">
            @foreach (var item in Model)
            {
                <div class="col-xl-1 col-lg-2 col-md-3 col-sm-3 col-3">
                    <div class="card p-0">
                        <div class="list-picture">
                            <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                <picture>
                                    <source media="(max-width: 480px)" picture-id="@item.PictureModel.Id" picture-size="350" />
                                    <img class="img-fluid" alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                                </picture>
                            </a>
                        </div>
                        <div class="list-title mt-2">
                            <h5 class="card-title m-0 p-0 text-uppercase">
                                <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })">
                                    @item.Name
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
