@model FooterModel
@await Component.InvokeAsync("NewsletterBox")
<footer>
    <div class="container">
        <div class="row mb-4">
            <div class="d-flex justify-content-center">
                <div class="container-white">
                    <img src="/Themes/Corujinha/Content/images/banner-safe.png" alt="Métodos de pagamento" class="img-responsive" style="margin: auto; width:100%; max-width:500px" />
                </div>
            </div>
        </div>
        <div class="row d-none">
            <p class="text-center">Formas de pagamento disponíveis</p>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <h3>Loja Virtual</h3>
                <ul>
                    <li><a href="@Url.RouteUrl("CustomerInfo")">Minha conta</a></li>
                    <li><a href="@Url.RouteUrl("CustomerOrders")">Meus pedidos</a></li>
                    @if (Model.ShoppingCartEnabled)
                    {
                        <li><a href="@Url.RouteUrl("ShoppingCart")">@T("ShoppingCart")</a></li>
                    }
                    @if (Model.WishlistEnabled)
                    {
                        <li><a href="@Url.RouteUrl("Wishlist")">@T("Wishlist")</a></li>
                    }
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterRow1).ToList())
                    {
                        <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                    }
                    @if (Model.SitemapEnabled)
                    {
                        <li><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>
                    }
                    <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <h3>Quem somos?</h3>
                <p>
                    A Loja Corujinha Plantas e Presentes fica localizada em Suzano, região metropolitana de SP. Somos dedicados a nossos clientes e nos diferenciamos pelo ótimo atendimento.
                </p>
                <p>
                    A loja física já tem 2 anos, e entramos na internet há alguns meses. Nosso catálogo vem aumentando todas as semanas, tudo para trazer a vocês as melhores e mais lindas novidades em termos de Presentes e Decoração, tudo com um preço acessível e promoções diferenciadas.
                </p>
                <h3>Entrega garantida</h3>
                <p>
                    Garantimos a entrega ou devolvemos seu dinheiro.
                </p>
            </div>
            <div class="col-12 col-md-4">
                <h3>Informações de segurança</h3>
                <p>
                    Prezamos pela segurança dos dados de nossos clientes, por isso não os compartilhamos e também não guardamos informações de cartão de crédito. O faturamento é feito pela plataforma totalmente segura do Mercado Pago, onde há diversas formas de pagamento, como Boleto, Cartão de Crédito, Cartão Caixa, etc.
                </p>
                <p>
                    Também realizamos diversos testes de segurança, como <a href="https://transparencyreport.google.com/safe-browsing/search?url=https:%2F%2Fcorujinhapresentes.com.br&hl=pt_BR">Google Safe Browsing</a>. Tudo para garantir um ambiente seguro para nossos clientes.
                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <p class="text-center">
                <span>@Model.CompanyName</span> <br />
                <span>@Model.CompanyAddress</span> <br />
                <span>@Model.CompanyEmail</span>
            </p>
        </div>
        <hr/>
    </div>
    <div class="container max-100">
        <div class="footer-lower small">
            <div class="row">
                <div class="col-12 col-md pb-1 pt-1 flex-column text-lg-left text-center copyright">
                    <span class="footer-disclaimer">@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</span>
                    @if (Model.DisplayTaxShippingInfoFooter)
                    {
                        <span class="footer-tax-shipping">
                            @T(Model.InclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = TopicSeNameConstants.Shippinginfo }))
                        </span>
                    }
                </div>
                @await Component.InvokeAsync("StoreThemeSelector")
                <div class="col-12 col-md-4  pb-1 pt-1 text-center text-lg-right">
                    <span>Shopping cart software by </span><a class="pr-1 text-success" href="https://grandnode.com/">GrandNode</a>™
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = "footer" })
</footer>