@model SearchBoxModel
@using System.Text.Encodings.Web
<form asp-route="ProductSearch" method="get" id="small-search-box-form" class="searchBox w-100 px-3 order-2">
    <input type="hidden" asp-for="Box" value="true" />
    <label for="small-searchterms" class="sr-only">@T("Search.SearchBox.Tooltip")</label>
    <div class="input-group flex-row">
        <input v-validate="'min:@(Model.SearchTermMinimumLength)|required'" oninput="autocompleteVue(this)" type="search" class="form-control search-box-text" id="small-searchterms" autocomplete="on" name="q" placeholder="@T("Search.SearchBox.Tooltip")">
        @if (Model.AvailableCategories.Any())
        {
            <select asp-for="SearchCategoryId" asp-items="Model.AvailableCategories" class="search-box-select custom-select input-group-addon"></select>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = "searchbox_before_search_button" })

        <div class="input-group-append">
            <button type="submit" class="btn btn-info search-box-button float-sm-right d-inline-flex">
                <span class="sr-only">@T("Search.SearchBox.Tooltip")</span>
                <b-icon icon="search"></b-icon>
            </button>
        </div>
    </div>
    <div id="adv_search" class="advanced-search-results" v-if="searchitems">
        <b-col cols="12">
            <b-form-row>
                <b-col md="6" cols="12">
                    <h5 class="title">@T("search.category")</h5>
                    <ul v-for="item in searchitems" v-if="item.SearchType === 'Category'" class="list px-0">
                        <li>
                            <h6 class="mt-0 mb-1"><a :href="item.Url">{{item.Label}}</a></h6>
                            <p v-if="item.Desc">{{item.Desc}}</p>
                        </li>
                    </ul>
                    <ul class="px-0 mb-1" style="display:none;">
                        <li class="alert alert-info">@T("search.noresultstextcategory")</li>
                    </ul>
                    <h5 class="title">@T("search.manufacturer")</h5>
                    <ul v-for="item in searchitems" v-if="item.SearchType === 'Manufacturer'" class="list px-0">
                        <li>
                            <h6 class="mt-0 mb-1"><a :href="item.Url">{{item.Label}}</a></h6>
                            <p v-if="item.Desc">{{item.Desc}}</p>
                        </li>
                    </ul>
                    <ul class="px-0 mb-1" style="display:none;">
                        <li class="alert alert-info">@T("search.noresultstextmanufacturer")</li>
                    </ul>
                    <h5 class="title">@T("search.blog")</h5>
                    <ul v-for="item in searchitems" v-if="item.SearchType === 'Blog'" class="list px-0">
                        <li>
                            <h6 class="mt-0 mb-1"><a :href="item.Url">{{item.Label}}</a></h6>
                            <p v-if="item.Desc">{{item.Desc}}</p>
                        </li>
                    </ul>
                    <ul class="no-data px-0 mb-1" style="display:none;">
                        <li class="alert alert-info">@T("search.noresultstextblog")</li>
                    </ul>
                </b-col>
                <b-col md="6" cols="12" class="products">
                    <h5 class="title">@T("search.products")</h5>
                    <ul v-for="item in searchitems" v-if="item.SearchType === 'Product'" class="list px-0">
                        <b-media tag="li">
                            <template #aside v-if="item.PictureUrl">
                                <b-img class="img-fluid" alt="placeholder" :src="item.PictureUrl"></b-img>
                            </template>
                            <h6 class="mt-0 mb-1"><a :href="item.Url">{{item.Label}}</a></h6>
                            <b-form-rating class="p-0" variant="warning" no-border size="sm" show-value precision="2" readonly inline :value="item.Rating / 20"></b-form-rating>
                            <div v-if="item.Price" class="price">{{item.Price}}</div>
                            <p v-html="item.Desc" class="mt-1 mb-0"></p>
                        </b-media>
                    </ul>
                    <ul class="px-0 mb-1" style="display:none;">
                        <li class="alert alert-info">@T("search.noresultstextproducts")</li>
                    </ul>
                </b-col>
            </b-form-row>
        </b-col>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = "searchbox" })
</form>
<script asp-location="Header">
    @if (Model.AutoCompleteEnabled)
    {
        <text>
            Vue.use(VeeValidate, {
                // This is the default
                inject: true,
                // Important to name this something other than 'fields'
                fieldsBagName: 'veeFields',
                // This is not required but avoids possible naming conflicts
                errorBagName: 'veeErrors'
            })
            function autocompleteVue(e) {
                setTimeout(function () {
                    if (e.getAttribute('aria-invalid') == 'false') {
                        var searchResult = document.getElementById('adv_search');
                        if (searchResult) {
                            searchResult.style.display = 'block';
                        }
                        var value = e.value;
                        var category = '';
                        if (document.getElementById("SearchCategoryId")) {
                            category = document.getElementById("SearchCategoryId").value;
                        }
                        axios({
                            url: '@(Url.RouteUrl("ProductSearchAutoComplete"))',
                            method: 'get',
                            params: {
                                term: value,
                                categoryId: category
                            }
                        }).then(function (response) {
                            if (response.data) {
                                console.log(response.data);
                                vm.searchitems = response.data;
                            }
                        })
                    } else {
                        var searchResult = document.getElementById('adv_search');
                        if (searchResult) {
                            searchResult.style.display = 'none';
                        }
                    }
                }, 300);
            }
        </text>
    }
</script>