@model IList<ProductOverviewModel>
@{
    var i = 0;
}


@if (Model.Any())
{
    <!-- Google Ecommerce -->
    <script>
        let relatedImpressions = new Array();
    </script>
    <!-- End Google Ecommerce -->

    <div class="col-12 text-center px-0">
        <h4 class="text-center mb-4">@T("Products.RelatedProducts")</h4>
        <div class="row g-0">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-sm-6 col-6 product-container mb-2">
                    <partial name="_ProductBoxFixedSize" model="item" />
                </div>
                <!-- Google Ecommerce -->
                <script>
                    relatedImpressions.push({
                        'name': '@item.Name',
                        'id': '@item.Id',
                        'price': '@item.ProductPrice.PriceValue',
                        'list': 'RelatedProducts',
                        'position': @(i++)
                    })
                </script>
                <!-- End Google Ecommerce -->

            }
        </div>
    </div>

    <!-- Google Ecommerce -->
    <script asp-location="Footer">
        $(document).ready(() => {
            dataLayer.push({
                'ecommerce': {
                    'currencyCode': 'BRL',
                    'impressions': relatedImpressions
                }
            });
        });
    </script>
    <!-- End Google Ecommerce -->
}