@model ProductDetailsModel.AddToCartModel
@{
    var shoppingCartType = Model.UpdateShoppingCartItemType.HasValue ? Model.UpdateShoppingCartItemType.Value : ShoppingCartType.ShoppingCart;
}

@if (!String.IsNullOrEmpty(Model.UpdatedShoppingCartItemId))
{
    <input asp-for="UpdatedShoppingCartItemId" type="hidden" />
}

@if (Model.CustomerEntersPrice)
{
    <div class="customer-entered-price mb-3 d-flex w-100 flex-column">
        <div class="price-input">
            <label asp-for="CustomerEnteredPrice" class="enter-price-label">@("Products.EnterProductPrice"):</label>
            @*round price*@
            <input asp-for="CustomerEnteredPrice" value="@Convert.ToInt32(Math.Ceiling(Model.CustomerEnteredPrice))" class="form-control enter-price-input" />
        </div>
        <div class="price-range pt-1">
            @Model.CustomerEnteredPriceRange
        </div>
    </div>
}

@if (!Model.DisableBuyButton)
{
    if (Model.AllowedQuantities.Any())
    {
        <select asp-for="EnteredQuantity" asp-items="Model.AllowedQuantities" class="custom-select form-control qty-dropdown mr-2"></select>
        if (!String.IsNullOrEmpty(Model.MeasureUnit))
        {
            <span class="qty-unit d-flex align-items-center mr-2">
                @Model.MeasureUnit
            </span>
        }
    }
    else
    {
        var addId = "addtocart_" + @Model.ProductId + "_EnteredQuantity";
        <div class="input-group quantity col-auto">
            <button type="button" onclick="addQuantity(-1)">
                <span class="icon-sm iconify" data-icon="bi:dash"></span>
            </button>
            <input asp-for="EnteredQuantity" class="text-center" type="number" inputmode="numeric" />
            <button type="button" onclick="addQuantity(1)">
                <span class="icon-sm iconify" data-icon="bi:plus"></span>
            </button>
        </div>

        <script>
            addQuantity = (q) => {
                var actualValue = +$('#@addId').val();
                var targetValue = actualValue + q;
                if (targetValue < 1) return;

                $('#@addId').val(targetValue)
            }
        </script>
        <div class="col col-sm-auto col-md col-lg-auto ms-2">
            <button type="button"
                    id="add-to-cart-button-@Model.ProductId"
                    class="add-to-cart-button justify-content-center text-uppercase"
                    data-productid="@Model.ProductId"
                    onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { productId = Model.ProductId, shoppingCartTypeId = (int)shoppingCartType })', '#product-details-form');return false;">
                <span>adicionar ao carrinho</span>
            </button>
        </div>
    }
}
else
{
    <h2>Produto indisponível</h2>
}
