@model ProductDetailsModel
@inject SeoSettings seoSettings
@{
    Layout = "";
    <script src="~/scripts/public.reservation.js"></script>
    <link href="~/content/jquery-ui-themes/smoothness/jquery-ui.calendar.min.css" rel="stylesheet" type="text/css" /> 
    <link href="~/Themes/Corujinha/Content/lib/lightgallery/css/lightgallery.min.css" rel="stylesheet" type="text/css" /> 
}
@await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_quickview_after_breadcrumb", additionalData = Model.Id })
<resources asp-type="ScriptHeader" />
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close btn theme-btn-primary" data-bs-dismiss="modal" aria-label="Close">
                <span class="icon iconify" data-icon="bi:x"></span>
            </button>
            <div class="product-details-page p-2">
                @await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_quickview_top", additionalData = Model.Id })
                <form asp-route="Product" asp-route-sename="@Model.SeName" method="post" id="product-details-form">
                    <div itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id">
                        <div class="row p-3">
                            @if (!string.IsNullOrEmpty(Model.Flag))
                            {
                                <div class="product-labels">
                                    <span class="product-label badge bg-info text-white">@Model.Flag</span>
                                </div>
                            }

                            <vc:widget widget-zone="productdetails_before_pictures" additional-data="@Model.Id"></vc:widget>
                            <!--product pictures-->
                            <partial name="_ProductDetailsPictures" model="Model" />
                            <vc:widget widget-zone="productdetails_after_pictures" additional-data="@Model.Id"></vc:widget>

                            <!-- product side info -->
                            <div class="overview col-12 col-md-6 mt-4">
                                <partial name="_Discontinued" model="Model" />
                                <h5 class="text-uppercase" itemprop="name">
                                    @Model.Name
                                </h5>

                                <!--product price-->
                                @{
                                    var dataDictPrice = new ViewDataDictionary(ViewData);
                                    dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", Model.Id);
                                }

                                <partial name="_ProductPrice" model="Model.ProductPrice" view-data="dataDictPrice" />

                                <vc:widget widget-zone="productdetails_overview_top" additional-data="@Model.Id"></vc:widget>

                                @if (!String.IsNullOrEmpty(Model.ShortDescription))
                                {
                                    <div class="short-description">
                                        @Html.Raw(Model.ShortDescription)
                                    </div>
                                }

                                <!--manufacturers-->
                                @if (Model.ProductManufacturers.Any())
                                {
                                    var m = Model.ProductManufacturers.First();
                                    <a class="d-block mt-2 theme-color-primary-dark" href="@Url.RouteUrl("Manufacturer", new { SeName = m.SeName })">@m.Name</a>
                                }

                                <!--availability-->
                                @if (!String.IsNullOrWhiteSpace(Model.StockAvailability) || Model.DisplayBackInStockSubscription)
                                {
                                    <partial name="_Availability" model="Model" />
                                }

                                <!--SKU, MAN, GTIN, vendor-->
                                <partial name="_SKU_Man_GTIN_Ven" model="Model" />

                                <!--delivery-->
                                @if ((Model.FreeShippingNotificationEnabled && Model.IsFreeShipping) || !string.IsNullOrWhiteSpace(Model.DeliveryDate)
|| Model.NotReturnable || Model.AdditionalShippingCharge > 0)
                                {
                                    <partial name="_DeliveryInfo" model="Model" />
                                }

                                <!--sample download-->
                                @if (Model.HasSampleDownload)
                                {
                                    <partial name="_DownloadSample" model="Model" />
                                }

                                <!--product bundles-->
                                @if (Model.ProductBundleModels.Any())
                                {
                                    <partial name="_ProductBundles" model="Model" />
                                }

                                <!--attributes-->
                                @{
                                    if (Model.ProductAttributes.Any())
                                    {
                                        var dataDictAttributes = new ViewDataDictionary(ViewData);
                                        dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
                                        <partial name="_ProductAttributes" model="Model.ProductAttributes" view-data="dataDictAttributes" />
                                    }
                                }

                                <!--warehouses-->
                                @if (Model.AllowToSelectWarehouse)
                                {
                                    <partial name="_ProductWarehouses" model="Model" />
                                }

                                <!--gift card-->
                                @{
                                    if (Model.GiftCard.IsGiftCard)
                                    {
                                        var dataDictGiftCard = new ViewDataDictionary(ViewData);
                                        dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = string.Format("giftcard_{0}", Model.Id);
                                        <partial name="_GiftCardInfo" model="Model.GiftCard" view-data="dataDictGiftCard" />
                                    }
                                }

                                <!--reservation info-->
                                @if (Model.ProductType == ProductType.Reservation)
                                {
                                    var dataDictReservation = new ViewDataDictionary(ViewData);
                                    dataDictReservation.TemplateInfo.HtmlFieldPrefix = string.Format("reservation_{0}", Model.Id);
                                    <partial name="_ReservationInfo" model="Model" view-data="dataDictReservation" />
                                }

                                <hr />

                                <!-- add to cart and actions-->
                                <div class="col-12 add-to-cart d-flex align-items-center row g-0">
                                    @{
                                        var dataDictAddToCart = new ViewDataDictionary(ViewData);
                                        dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                                    }
                                    <partial name="_AddToCart" model="Model.AddToCart" view-data="dataDictAddToCart" />
                                    @{
                                        var dataDictAddToWishlist = new ViewDataDictionary(ViewData);
                                        dataDictAddToWishlist.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                                        dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                                    }
                                    <div class="col-12 mt-2 col-lg-auto mt-lg-0">
                                        <partial name="_AddToWishlist" model="Model.AddToCart" view-data="dataDictAddToWishlist" />
                                    </div>
                                </div>

                                <!-- purchase info -->
                                <div class="mt-4">
                                    <div class="d-flex w-100 theme-color-gray-50">
                                        <span>Formas de pagamento disponíveis</span>
                                    </div>
                                    <div class="d-flex w-100">
                                        <img src="/Themes/Corujinha/Content/images/payment-methods.png" alt="Métodos de pagamento" class="img-responsive" style="width:100%; max-width:300px">
                                    </div>
                                    <div class="mt-3">
                                        <a class="d-flex align-items-center theme-color-gray-50" href="#" target="_blank" data-bs-toggle="modal" data-bs-target="#payment-info"><span class="icon iconify theme-color-primary me-2" data-icon="mdi:credit-card-outline"></span>Informações de pagamento</a>
                                    </div>
                                    <div class="mt-3">
                                        <a class="d-flex align-items-center theme-color-gray-50" href="#" target="_blank" data-bs-toggle="modal" data-bs-target="#shipping-info"><span class="icon iconify theme-color-primary me-2" data-icon="mdi:truck-outline"></span>Informações de envio</a>
                                    </div>
                                    <div class="mt-3">
                                        <a class="d-flex align-items-center theme-color-gray-50" href="https://wa.me/5511974915290?text=Oi%2C+tenho+uma+d%C3%BAvida+sobre+o+produto+@Model.Name.&lang=pt_br" target="_blank"><span class="icon iconify theme-color-primary me-2" data-icon="mdi:whatsapp"></span>Faça uma pergunta</a>
                                    </div>
                                </div>

                                @if (!String.IsNullOrWhiteSpace(Model.PageShareCode))
                                {
                                    <div class="col-12 product-share px-0">
                                        <partial name="_ShareButton" model="Model" />
                                    </div>
                                }
                                <vc:widget widget-zone="productdetails_overview_bottom" additional-data="@Model.Id"></vc:widget>
                            </div>
                        </div>
                        <div class="row p-3 mt-3 mb-4">
                            <div class="col-12 p-0">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <a class="nav-link active" id="nav-description-tab" data-bs-toggle="tab" href="#nav-description" role="tab" aria-controls="nav-description" aria-selected="true">Descrição</a>
                                        <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contato</a>
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="product-description tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
                                        <div class="col-12 mt-3">
                                            @Html.Raw(Model.FullDescription)
                                        </div>
                                        @if (Model.ProductManufacturers.Any() || Model.ProductSpecifications.Any())
                                        {
                                            <div class="col-12 mt-5">
                                                <h5>Especificações</h5>
                                                <table>
                                                    <tbody>
                                                        @if (Model.ProductManufacturers.Any())
                                                        {
                                                            <tr>
                                                                <td>Fabricante</td>
                                                                @{
                                                                    var m = Model.ProductManufacturers.First();
                                                                }
                                                                <td><a class="d-block mt-2 theme-color-primary-dark" href="@Url.RouteUrl("Manufacturer", new { SeName = m.SeName })">@m.Name</a></td>
                                                            </tr>
                                                        }
                                                        @if (Model.ProductSpecifications.Any())
                                                        {
                                                            foreach (var spec in Model.ProductSpecifications)
                                                            {
                                                                <tr>
                                                                    <td>@spec.SpecificationAttributeName</td>
                                                                    <td>@Html.Raw(spec.ValueRaw)</td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        }

                                        @if (Model.ProductTags.Any())
                                        {
                                            <div class="tags col-12 mt-5">
                                                <h5>Tags</h5>
                                                <hr />
                                                @foreach (var tag in Model.ProductTags)
                                                {
                                                    <a class="tag-button d-inline-flex align-items-center text-uppercase small mb-2" href="@Url.RouteUrl("ProductsByTagName", new { SeName = tag.SeName })">
                                                        @tag.Name
                                                        <span class="tag-button-badge">@tag.ProductCount</span>
                                                    </a>
                                                }
                                            </div>
                                        }
                                    </div>
                                    <div class="contact tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                        <h4>Informações para contato</h4>
                                        <div class="mt-3">
                                            <a class="d-flex align-items-center theme-color-gray-50" href="https://wa.me/5511974915290?text=Oi%2C+tenho+uma+d%C3%BAvida+sobre+o+produto+@Model.Name.&lang=pt_br" target="_blank"><span class="icon iconify theme-color-primary me-2" data-icon="mdi:whatsapp"></span>Envie uma mensagem WhatsApp</a>
                                        </div>
                                        <div class="mt-3">
                                            <a class="d-flex align-items-center theme-color-gray-50" href="mailto:vendas@corujinhapresentes.com.br" target="_blank"><span class="icon iconify theme-color-primary me-2" data-icon="mdi:email-outline"></span>Envie um email para vendas@corujinhapresentes.com.br</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <vc:products-also-purchased product-id="@Model.Id" product-thumb-picture-size="null"></vc:products-also-purchased>
                        <vc:related-products product-id="@Model.Id" product-thumb-picture-size="null"></vc:related-products>
                        <vc:similar-products product-id="@Model.Id" product-thumb-picture-size="null"></vc:similar-products>
                    </div>
                </form>
                @await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_quickview_bottom", additionalData = Model.Id })
            </div>
        </div>
    </div>
<script src="~/Themes/Corujinha/Content/lib/lightgallery/js/lightgallery.min.js"> </script>
<script src="~/Themes/Corujinha/Content/lib/lightgallery/js/lg-zoom.min.js"></script>
<script src="~/Themes/Corujinha/Content/lib/lightgallery/js/lg-thumbnail.min.js"></script>
<script>
    $(document).on('show.bs.modal', '.modal', function () {
        var zIndex = 1040 + (10 * $('.modal:visible').length);
        $(this).css('z-index', zIndex);
        setTimeout(function () {
            $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
        }, 0);
    });
    $(document).ready(function () {

        $('#ModalQuickView').animate({
            scrollTop: 0
        }, 300, 'linear');



        if ($(window).width() > 767) {
            $('.product-quickview .review-scroll-button').on('click', function (e) {
                e.preventDefault();
                $("#review-tab").click();
                var vcenter = $('.product-quickview .overview').height() + 30;
                $('#ModalQuickView').animate({
                    scrollTop: vcenter
                }, 300, 'linear');
            });
        }
        else {
            $('.product-quickview .review-scroll-button').on('click', function (e) {
                e.preventDefault();
                $("#review-tab").click();
                var vcenter = $('.product-quickview .overview').height() + $('.product-quickview .gallery').height() + 30;
                $('#ModalQuickView').animate({
                    scrollTop: vcenter
                }, 300, 'linear');
            });
        }
    });
</script>
<resources asp-type="ScriptFooter" />