@model ProductAskQuestionSimpleModel
<input value="@Model.Id" type="hidden" id="AskQuestionProductId" name="AskQuestionProductId"/>
<div id="contact-us-product">
    <fieldset class="form-group">
        <label asp-for="AskQuestionEmail" class="col-form-label">@T("Products.AskQuestion.Email"):</label>
        <span class="required">*</span>
        <input asp-for="AskQuestionEmail" placeholder="@T("Products.AskQuestion.Email.Hint")" v-validate="'required|email'" class="form-control ask-question-email" />
        <span v-if="veeErrors.first('AskQuestionEmail')" class="field-validation-error">@T("products.askquestion.Email.required")</span>
        <span asp-validation-for="AskQuestionEmail"></span>
    </fieldset>
    <fieldset class="form-group">
        <label asp-for="AskQuestionFullName" class="col-form-label">@T("Products.AskQuestion.FullName"):</label>
        <span class="required">*</span>
        <input asp-for="AskQuestionFullName" placeholder="@T("Products.AskQuestion.FullName.Hint")" v-validate="'required'" class="form-control ask-question-fullname" />
        <span v-if="veeErrors.first('AskQuestionFullName')" class="field-validation-error">@T("products.askquestion.fullname.required")</span>
        <span asp-validation-for="AskQuestionFullName"></span>
    </fieldset>
    <fieldset class="form-group">
        <label asp-for="AskQuestionPhone" class="col-form-label">@T("Products.AskQuestion.Phone"):</label>
        <input asp-for="AskQuestionPhone" placeholder="@T("Products.AskQuestion.Phone.Hint")" class="form-control ask-question-phone" />
        <span asp-validation-for="AskQuestionPhone"></span>
    </fieldset>
    <fieldset class="form-group">
        <label asp-for="AskQuestionMessage" class="col-form-label">@T("Products.AskQuestion.Message"):</label>
        <span class="required">*</span>
        <textarea asp-for="AskQuestionMessage" placeholder="@T("Products.AskQuestion.Message.Hint")" v-validate="'required'" class="form-control ask-question-message"></textarea>
        <span v-if="veeErrors.first('AskQuestionMessage')" class="field-validation-error">@T("products.askquestion.Message.required")</span>
        <span asp-validation-for="AskQuestionMessage"></span>
    </fieldset>
    @if (Model.DisplayCaptcha)
    {
        <div class="captcha-box">
            <captcha />
        </div>
    }

    <div class="buttons generalMarginSupporter pt-1 pb-1">
        <input type="button" name="send-email" class="btn btn-info send-ask-question-button" value="@T("Products.AskQuestion.Button")"
               onclick="sendcontactusformQuickview('@Url.RouteUrl("AskQuestionOnProduct")')" />
        <span class="sr-only">@T("Products.AskQuestion.Button")</span>
    </div>

</div>

<div class="alert alert-danger product-contact-error" style="display: none;">
</div>

<div class="alert alert-success product-contact-send" style="display: none;">
</div>

<script asp-location="Header">
    Vue.use(VeeValidate, {
        // This is the default
        inject: true,
        // Important to name this something other than 'fields'
        fieldsBagName: 'veeFields',
        // This is not required but avoids possible naming conflicts
        errorBagName: 'veeErrors',
        classes: true,
        classNames: {
            valid: 'is-valid',
            invalid: 'is-invalid'
        }
    })
</script>