@model ProductDetailsModel
@inject SeoSettings seoSettings
@using Grand.Framework.Themes
@using Grand.Framework.UI
@inject IWorkContext workContext
@inject IThemeContext themeContext
@inject IPageHeadBuilder pagebuilder
@using System.Globalization
<script asp-location="Footer" src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
<link asp-location="Header" rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
@*<script asp-location="Footer" src="/scripts/jquery-3.3.1.min.js"></script>
<script asp-location="Footer" src="/scripts/jquery.validate.min.js"></script>
<script asp-location="Footer" src="/scripts/jquery.validate.unobtrusive.min.js"></script>
<script asp-location="Footer" src="/scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script asp-location="Footer" src="/scripts/jquery-migrate-3.0.1.min.js"></script>*@
<script asp-location="Footer" src="/Themes/VueTheme/Content/script/public.reservation.js"></script>
@*<link href="~/content/jquery-ui-themes/smoothness/jquery-ui.calendar.min.css" rel="stylesheet" type="text/css"/>*@
<div>
    @if (Model.Parameters.Any())
    {
        <div class="container" style="margin-left:-15px">
            <label for="parameterDropdown" class="col-form-label">@T("Products.AdditionalParameter"):</label>
            <select class="custom-select form-control" name="parameterDropdown" id="parameterDropdown">
                @foreach (var parameter in Model.Parameters)
                {
                    <option value="@parameter.Value">@parameter.Text</option>
                }
            </select>
        </div>
    }

    @if (Model.IntervalUnit == IntervalUnit.Day)
    {
        <div>
            <h5>@T("Products.Reservation.DateFrom"):</h5>
            <input name="reservationDatepickerFrom_@Model.Id" id="reservationDatepickerFrom" class="form-control datepicker" />
        </div>
        <div>
            <h5>@T("Products.Reservation.DateTo"):</h5>
            <input name="reservationDatepickerTo_@Model.Id" id="reservationDatepickerTo" class="form-control datepicker" />
        </div>
    }
    else
    {
        <div>
            <h5>@T("Products.Reservation.Date"):</h5>
            <input id="reservationDatepicker" class="form-control datepicker"/>
        </div>
        <div>
            <h5 style="margin-top:10px">@T("Products.Reservation.Hour"):</h5>
            <div id="hoursDiv" class="d-inline-flex flex-wrap" data-toggle="buttons"></div>
        </div>
    }
</div>

<script asp-location="Footer">
        Reservation.init("@Model.StartDate.ToString("d", CultureInfo.CreateSpecificCulture("en-US"))", "@Model.StartDate.Year", "@Model.StartDate.Month", "@T("Products.Noavailablereservations")",
            "@(Url.Action("GetDatesForMonth", "Product"))", "@Model.Id",
            "@Html.Raw(Url.Action("productdetails_attributechange", "product", new { productId = Model.Id, validateAttributeConditions = false }))");
</script>