@model AddToCartModel
@{
    string text = "";
    if (Model.CartType == ShoppingCartType.ShoppingCart)
    {
        text = string.Format(T("AddToCart.Cart.Items").Text, Model.TotalItems);
    }
    else if (Model.CartType == ShoppingCartType.Wishlist)
    {
        text = string.Format(T("AddToCart.Wishlist.Items").Text, Model.TotalItems);
    }
    else if (Model.CartType == ShoppingCartType.Auctions)
    {
        text = string.Format(T("Addtocart.Auctions.Ongoing").Text, Model.TotalItems);
    }
}

@await Component.InvokeAsync("Widget", new { widgetZone = "popup_add_to_cart_content_before", additionalData = Model })
<div class="modal-dialog modal-dialog-centered added-to-cart" role="document">
    <div class="modal-content rounded-0 p-2 p-xl-3">
        <div class="modal-body">
            <div class="d-flex flex-row align-items-center">
                <h5 class="flex-grow-1 m-0">
                    @if (Model.CartType == ShoppingCartType.ShoppingCart || Model.CartType == ShoppingCartType.OnHoldCart)
                    {
                        @T("AddToCart.ShoppingCart")
                    }
                    else if (Model.CartType == ShoppingCartType.Wishlist)
                    {
                        @T("AddToCart.Wishlist")
                    }
                    else if (Model.CartType == ShoppingCartType.Auctions)
                    {
                        @T("shoppingcart.yourbidhasbeenplaced")
                    }
                </h5>
                <button type="button" class="btn ms-3" data-bs-dismiss="modal" aria-label="Close">Fechar</button>
            </div>
            <hr/>
            <div class="col-12">
                <div class="row">
                    <div class="picture small col-auto d-flex align-items-center">
                        <div class="square-box">
                            <div class="square-content">
                                <a href="@Url.RouteUrl("Product", new { SeName=Model.ProductSeName })">
                                    <img class="img-fluid product-picture top-50 start-50 translate-middle position-absolute"
                                         src="@Model.Picture.ImageUrl"
                                         title="@Model.Picture.Title"
                                         alt="@Model.Picture.AlternateText" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col pt-3">
                        <h5 class="theme-color-primary">@Model.ProductName</h5>
                        <p>
                            @Model.Quantity x @Model.Price
                        </p>
                    </div>
                </div>
                <hr/>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn theme-btn-primary rounded" data-bs-dismiss="modal">Continuar</button>
                    @if (Model.CartType == ShoppingCartType.ShoppingCart || Model.CartType == ShoppingCartType.OnHoldCart)
                    {
                        <button type="button" class="btn theme-btn-primary rounded ms-2" onclick="setLocation('@(Url.RouteUrl("ShoppingCart"))')"><span class="icon-sm iconify me-2" data-icon="bi:cart3"></span>Ver carrinho</button>
                    }
                    else if (Model.CartType == ShoppingCartType.Wishlist)
                    {
                        <button type="button" class="btn theme-btn-primary rounded ms-2" onclick="setLocation('@(Url.RouteUrl("Wishlist"))')"><span class="icon-sm iconify me-2" data-icon="bi:heart"></span>Ver lista</button>
                    }
                </div>
            </div>
            @await Component.InvokeAsync("CrossSellProducts")
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#ModalAddToCart .cross-sell-container .btn-quick-view").on("click", function () {
            $('#ModalAddToCart').modal('hide');
        });
    });
</script>
